*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    background-color: #e0e0e0;
}
.header{
    border: 2px solid red;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9;
}
.logo{
    /* border: 2px solid yellow; */
    margin: 10px;
    width: 15%;
    /* overflow: hidden; */

}
.logo img{
    /* border: 2px solid yellow; */
    width: 100%;
}
.searchbar{
    border: 1px solid #cee1ff;
    border-radius: 5px;
    width: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color:#cee1ff;
    font-size: 2em;
}
.searchbar input{
    border: 1px solid #cee1ff;
    border-radius: 10px;
    width: 90%;
    padding: 15px 0%;
    background-color:#cee1ff;
    font-size: 1rem;
}
.searchbar i{
    border: 1px solid #cee1ff;
    background-color:#cee1ff;
    font-size: 1rem;
}
.Signup_and_Cart{
    /* border: 2px solid yellow; */
    width: 15%;

}
.seller{
    /* border: 2px solid yellow; */
    width: 15%;

}
.hamburger-menu{
    /* border: 2px solid yellow; */
    width: 15%;

}

.main-Container{
    border: 2px solid green;
    width: 98%;
    margin: auto;
    /* height: 500vh; */
    position:relative;
    top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-Container{
    border: 2px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    overflow:scroll;
}
.nav{
    border: 2px solid blue;
}
.nav img{
    border: 2px solid blue;
    width: 100%;
}

.img-slider{
    border: 2px solid red;
    width: 100%;
    /* height:inherit; */
    position: relative;
}
.img-slider img{
    border: 2px solid yellow;
    width: 100%;
    /* height: auto; */
    /* position: absolute; */
}