*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    border: 2px solid black;
    width: 100%;
    position: relative;
}
.hero-container{
    border: 2px solid red;
    width: 94%;
    margin: auto;
    height: 100vh;
}
.header{
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
}