*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.container{
    /* border: 2px solid red; */
    width:100%;
    height: 100vh;
    display: flex;
    position: relative;

}
.sidebar{
    border: 2px solid yellow;
    width:22%;
    height: 100vh;
    position: fixed;
}
.main{
    border: 2px solid blue;
    width:78%;
    position: absolute;
    right: 0;
}

.sidebarcontent{
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
    position: relative;
    top: 25px;
}
.dp{
    /* border: 2px solid red; */
    width: 45%;
    height: 100%;
}
.dp img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.sidebarcontent h2{
    padding: 2px;
    margin-top:30px;
}
.sidebarcontent p{
    padding: 2px;
    margin-top:10px;
    color:gray
}
.icon-nav{
    border: 2px solid pink;
    width: 100%;
    height: 120px;
    padding: 2px;
    margin-top:10px;
    display: flex; 
    flex-direction:column ;      
}
.icon-nav button:hover{
    display: flex;
    flex-direction: column;
    padding:10px;
    width:100%;
    height: 10px;
}
.social-link{
    /* border: 2px solid green; */
    width: 100%;
    height: 40px;
    margin-top: 10px;
}
.social-link i{
    padding:1px;
    size: 20px;
    font-weight: bolder;
}