*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    background-color: #e0e0e0;
    font-family: sans-serif;
}
.header{
    /* border: 2px solid red; */
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 9;
}
.logo{
    width: 12%;
    display: flex;
    justify-content: space-between;
    font-size:1em;

}
.logo img{
    /* border: 2px solid yellow; */
    width: 100%;
}
.searchbar{
    border: 1px solid #cee1ff;
    border-radius: 5px;
    width: 40%;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color:#cee1ff;
    font-size: 2em;
    opacity: 0.30;
}
.searchbar input{
    border: 1px solid #cee1ff;
    border-radius: 10px;
    width: 90%;
    padding: 5px;
    background-color:hwb(216 80% 0%);
    font-size: 1rem;
    color: black;
}
.searchbar i{
    border: 1px solid #cee1ff;
    background-color:#cee1ff;
    font-size: 1rem;
}
.Signup_and_Cart{
    width: 15%;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
    font-size:1em;
}

.login{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.login i,p{
    margin: 5px;
}   
.cart{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart i,p{
    margin: 5px;
}

.seller{
    /* border: 2px solid yellow; */
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1em;
    padding: 10px;

}
.hamburger-menu{
    /* border: 2px solid yellow; */
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1em;
    padding: 10px;
}


.main-Container{
    border: 2px solid green;
    width: 98%;
    margin: auto;
    /* height: 500vh; */
    top: 3.5em;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-Container ul{
    list-style: none;
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* overflow:scroll; */
    margin-bottom: 15px;
}
.nav-Container ul li{
    list-style: none;
}
.nav-Container a{
    text-decoration: none;
    color: black;
}

.nav-card{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    font-size: 16px;
    padding: 15px;
    font-size: 1em;    
}
/* .n-card-img{
    border: 2px solid black;
} */
.n-card-detail{
    /* border: 2px solid black; */
    font-size: smaller;
}
/* .nav-list-Container{
    border: 2px solid  green;
    display: flex;
    flex-direction:column ;
}
.nav-list{
    display: flex;
    flex-direction:column ;
}
.nav-sublist{
    display: flex;
    flex-direction: column;
} */

.slider-Container{
    /* border: 2px solid red; */
    width: 100%;
}

.img-slider{
    /* border: 2px solid yellow; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.img-slider figure{
    width: 100%;
    position: relative;
    animation: 10s slider infinite;
    display: flex;
}
.img-slider figure img{
    float: left;
    width: 100%;
}
@keyframes slider{
    0%{
        left: 50;
    }
    25%{
        left: 50;
    }
    50%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
    
}

#left-button{
    position: absolute;
    z-index: 2;
    width: 3%;
    height: 40%;
    border: 2px solid white;
}
#right-button{
    position: absolute;
    right: 0;
    z-index: 2;
    width: 3%;
    height: 40%;
    border: 2px solid white;
}

.offer-container{
    /* border: 2px solid red; */
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.img-box{
    /* border: 2px solid yellow; */
    width: 35.5%;
    margin: 5px;
}
.img-box img{
    /* border: 2px solid yellow; */
    width: 100%;
}

.deals-container{
    /* border: 2px solid red; */
    background-color: white;
    width: 100%;
    margin-top: 15px;
}
.deals-headbox{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
}
.deals-headbox p{
    font-size:large ;
    font-weight: bold;
}
.deals-headbox button{
    font-size:large ;
    font-weight: bold;
    width: 30px;
    border: 2px solid blue;
    border-radius: 360px;
    background-color: blue;
    color: white;
}
.deals-contentbox{
    width: 100%;
    border: 2px solid red;
    margin-top: 15px;
}
.card-container{
    /* border: 2px solid black; */
    width:  100%;
    /* height: 50vh; */
    display: flex;
    /* justify-content:space-between; */
    position: relative;
    flex-wrap: nowrap;
}
.card{
    border: 1px solid gray;
    width: 20%;
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.card-img{
    /* border: 1px solid yellow; */
    width: 90%;
    /* height: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.card-img img{
    width: 80%;
    /* height: 100%; */
    object-fit:contain;
}
.card-info{
    /* border: 1px solid yellow; */
    width: 90%;
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    text-align: center;
}
.deals-left-button{
    position: absolute;
    top: 20%;
    z-index: 2;
    width: 3%;
    height: 40%;
    border: 2px solid white;
    background-color: white;
}
.deals-right-button{
    position: absolute;
    top: 20%;
    right: 0;
    z-index: 2;
    width: 3%;
    height: 40%;
    border: 2px solid white;
    background-color: white;
}

.banners-container{
    width: 100%;
    /* border: 2px solid red; */
    /* height: 50vh; */
    margin-top: 15px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.product-banner{
    /* border: 2px solid white; */
    width: 33.3%;
    /* margin: 2px; */
    margin-bottom: 5px;
}
.product-banner img{
    width: 100%;
    border-left:3px solid white;
    border-right:3px solid white;
}
.MLG-Offer-banner-Container{
    border: 2px solid green;
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    height: 100vh;
}
.MLG{
    border: 2px solid yellow;
    width: 40%;
    height: 90vh;
    background-color: white;
}
.Offer-banner{
    border: 2px solid yellow;
    width: 60%;
    height: 90vh;
}
.Offer-banner-img{
    border: 2px solid red;
    width: 10%;
    /* height: 90vh; */
}
.Offer-banner-img img{
    border: 2px solid red;
    width: 50px;
    height: 200px;

}
.tag-container{
    border: 2px solid red;
    width: 100;
    height: 100vh;
    position: relative;
    top:100px;
}
.tags{
    display: flex;
}