*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana,sans-serif;    
}


.header{
    height: 10vh;
    width: 100%;
    /* border: 2px solid red; */
    position: fixed;
    background-color: white;
}
.backimg{
    height: 110vh;
    /* border: 2px solid blue; */
    background-image: url(	https://www.w3schools.com/w3images/architect.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.mid{
    height: 10vh;
    width: 30vw;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.br{
    height: 95%;
    width:6vw;
    border: 2px solid red;
    color: white;
    /* background-color: #000; */
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
}
.architect{
    height: 95%;
    width:80%;
    /* border:2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    color: white;
}

.Projects-heading{
    /* border: 2px solid red; */
    height: 20vh;
    display: flex;
    align-items: center;
}
.Projects-content{
    /* border: 2px solid yellow; */
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}
.project_img{
    width:23%;
    height: 40%;
    margin-top: 30px;
    /* border: 2px solid red; */
    color: white;
}
.Projects-content :nth-child(1){
    background-image: url(https://www.w3schools.com/w3images/house5.jpg);
    background-position: center;
    background-size: cover;
}
.Projects-content :nth-child(2){
    background-image: url(https://www.w3schools.com/w3images/house2.jpg);
    background-position: center;
    background-size: cover;
}
.Projects-content :nth-child(3){
    background-image: url(https://www.w3schools.com/w3images/house3.jpg);
    background-position: center;
    background-size: cover;
}
.Projects-content :nth-child(4){
    background-image: url(https://www.w3schools.com/w3images/house4.jpg);
    background-position: center;
    background-size: cover;
}
.Projects-content :nth-child(5){
    background-image: url(https://www.w3schools.com/w3images/house2.jpg);
    background-position: center;
    background-size: cover;
}
.Projects-content :nth-child(6){
    background-image: url(https://www.w3schools.com/w3images/house5.jpg);
    background-position: center;
    background-size: cover;
}
.Projects-content :nth-child(7){
    background-image: url(https://www.w3schools.com/w3images/house4.jpg);
    background-position: center;
    background-size: cover;
}
.Projects-content :nth-child(8){
    background-image: url(https://www.w3schools.com/w3images/house3.jpg);
    background-position: center;
    background-size: cover;
}
.about-heading{
    /* border: 2px solid red; */
    height: 20vh;
    display: flex;
    align-items: center;
}
.about-para{
    /* border: 2px solid red; */
    height: 20vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.architecture-container{
    /* border: 2px solid red; */
    width:100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
}
.architecture-details{
    /* border: 2px solid yellow; */
    width:24%;
    height: 79vh;
}
.architecture-img{
    /* border: 2px solid red; */
    width: 100%;
    height:30vh ;
}
.architecture-img img{
    width: 100%;
    height: 29vh;
    filter: grayscale(80%);
}
.architecture-info{
    /* border: 2px solid blue; */
}
.architecture-info h3,h2, p{
    padding: 20px;
}
.architecture-info button{
    width: 100%;
    padding: 5%;
    border: 1px solid transparent;

}
.contact-container{
    border: 2px solid green;
    width: 100%;
    height: 80vh;
}
footer{
    border: 2px solid yellow;
    width: 100%;
    height: 15vh;
    background-color: black;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items:center;
}