*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana,sans-serif;    
}
.cover-img{
    height: 110vh;
    /* border: 2px solid blue; */
    background-image: url(	https://www.w3schools.com/w3images/architect.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.header{
    /* border: 2px solid red; */
    box-shadow: 0px 2px 5px gray;
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.logo a{
    padding: 20px;
    text-decoration: none;
    color:black;
    letter-spacing: 5px;
}
.nav a{
    padding: 20px;
    text-decoration: none;
    color:black;
    letter-spacing: 5px;
}
.banner-name{
    /* border: 2px solid red; */
    width: 20%;
    margin: auto;
    height: 15vh;
    display: flex;
    /* justify-content:space-around ; */
    align-items:center;
    color:white;
}
.banner-name p:nth-child(1){
    margin-top: 30px;
    width: 30%;
    background-color: black;
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    padding:8px 16px;
}
.banner-name p:nth-child(2){
    margin-top: 30px;
    width: 70%;
    opacity: 0.75;
    display: flex;
    font-size: xx-large;
    padding:8px 16px;
}
.heading p{
    /* border: 2px solid red; */
    width: 96%;
    margin: auto;
    height: 20vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: larger;
}
.hr-line{
    width: 96%;
    margin: auto;
    height: 1px;
    background-color: gray;
    margin-bottom: 10px;
    opacity: 0.75;
}
.project-img{
    /* border: 2px solid red; */
    width: 96%;
    margin: auto;
    /* height: 100vh; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img-box{
    /* border: 2px solid green; */
    width: 23.8%;
    /* height: 48vh; */
    position: relative;
    margin-top:1%;
}
.img-box img{
    /* border: 2px solid green; */
    width: 100%;
    /* height: 48vh; */
}
.img-heading{
    /* border: 2px solid blue; */
    width: auto;
    padding: 2px;
    height: 15%;
    background-color: black;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-section{
    /* border: 2px solid red; */
    width: 96%;
    margin: auto;
    height: 100vh;
}
.about-para{
    /* border: 2px solid green; */
    width: 96%;
    margin: auto;
    padding: 10px;
}
.team-gallery{
    /* border: 2px solid blue; */
    width: 96%;
    margin: auto;
    /* height: 60vh; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.team-member{
    /* border: 2px solid red; */
    width: 24.5%;
    /* height: 55vh; */
}
.member-img{
    /* border: 2px solid yellow; */
    width: 100%;
    /* height: 60%; */
}
.member-img img{
    /* border: 2px solid red; */
    width: 100%;
    filter:grayscale(80%);
    /* height: 100%; */
}
.member-info{
    /* border: 2px solid blue; */
    width: 100%;
    /* height: 40%; */
}
.member-info p:nth-child(1){
    padding: 10px;
    padding-left: 0;
}
.member-info p:nth-child(2){
    padding: 10px;
    padding-left: 0;
    font-size:smaller;
    color: gray;
}
.member-info p:nth-child(3){
    padding: 10px;
    padding-left: 0;
    font-size:smaller;
}
.contact-button{
    /* border: 2px solid yellow; */
    background-color: lightgray;
    width: 100%;
    width: 100%;
    padding: 5px;
    text-align: center;
}
.contact-button a{
    color: black;
    text-decoration: none;
    font-size: small;
    
}
.contact-section{
    /* border: 2px solid green; */
    width: 96%;
    margin: auto;
}
.contact-form{
    width: 98%;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.contact-form h4:nth-child(1){
    padding: 5px;
    padding-left: 0px;
}
.contact-form input{
    padding: 10px;
    padding-left: 10px;
    margin-top: 15px;
    border: 1px solid gray;
}
.contact-form input:nth-child(6){
    padding: 10px;
    padding-left: 10px;
    width: 15%;
    margin: 25px;
    margin-left: 0;
    border: 1px solid gray;
    font-size:medium;
    color: white;
    background-color: black ;
}
.last-image{
    /* border: 2px solid green; */
    width: 94%;
    margin: auto;
    margin-bottom: 5px;
}
.last-image img{
    /* border: 2px solid green; */
    width: 100%;
    margin: auto;
}
.copyright{
    /* border: 2px solid red; */
    background-color: black;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.copyright a{
    text-decoration: none;
    color: white;
}