<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../Css/template2.css">
    <title>Template2</title>
</head>
<body>
        <div class="sidebar">
            <div class="sidebarcontent">
                <div class="dp">
                    <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="">
                </div>
                <h2>PORTFOLIO</h2>
                <p>Template by W3.CSS</p>
                <div class="icon-nav">
                          <a class="navigation" href="">
                            <i class="fa fa-th-large fa-fw"></i>
                            <p>PORTFOLIO</p>
                          </a>
                          <a class="navigation" href="">
                            <i class="fa fa-user fa-fw w3-margin-right"></i>
                            <p>ABOUT</p>
                          </a>
                          <a class="navigation" href="">
                            <i class="fa fa-envelope fa-fw w3-margin-right"></i>
                            <p>CONTACT</p>
                          </a>  
                </div>
                <div class="social-link">
                    <i class="fa-brands fa-square-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-square-snapchat"></i>
                    <i class="fa-brands fa-pinterest-p"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="main-heading">
                <h1>My Portfolio</h1>
            </div>
            <div class="filter">
                <p>Filter:</p>
                <a href="#" style="background-color: black; color: white;">All</a>
                <a href="#">Design</a>
                <a href="#">Photos</a>
                <a href="#">Art</a>
            </div>
            <div class="line"></div>
            <div class="galary">
                <div class="project">
                    <div class="project-img">
                        <img src="https://www.w3schools.com/w3images/mountains.jpg" alt="">
                    </div>
                    <div class="project-desc">
                        <h4>Lorem Ipsum</h4>
                        <p>
                            Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                        </p>
                    </div>
                </div>
                <div class="project">
                    <div class="project-img">
                        <img src="https://www.w3schools.com/w3images/lights.jpg" alt="">
                    </div>
                    <div class="project-desc">
                        <h4>Lorem Ipsum</h4>
                        <p>
                            Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                        </p>
                    </div>
                </div>
                <div class="project">
                    <div class="project-img">
                        <img src="https://www.w3schools.com/w3images/nature.jpg" alt="">
                    </div>
                    <div class="project-desc">
                        <h4>Lorem Ipsum</h4>
                        <p>
                            Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                        </p>
                    </div>
                </div>
                <div class="project">
                    <div class="project-img">
                        <img src="https://www.w3schools.com/w3images/p1.jpg" alt="">
                    </div>
                    <div class="project-desc">
                        <h4>Lorem Ipsum</h4>
                        <p>
                            Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                        </p>
                    </div>
                </div>
                <div class="project">
                    <div class="project-img">
                        <img src="https://www.w3schools.com/w3images/p2.jpg" alt="">
                    </div>
                    <div class="project-desc">
                        <h4>Lorem Ipsum</h4>
                        <p>
                            Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                        </p>
                    </div>
                </div>
                <div class="project">
                    <div class="project-img">
                        <img src="https://www.w3schools.com/w3images/p3.jpg" alt="">
                    </div>
                    <div class="project-desc">
                        <h4>Lorem Ipsum</h4>
                        <p>
                            Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                        </p>
                    </div>
                </div>
                <div class="project-nav">
        <!-- continue -->
                </div>
            </div>
            <div class="aboutme">
                
            </div>
        </div>
</body>
</html>

                            <!-- <p>PORTFOLIO</p>
                            <p><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</p>
                            <p>CONTACT</p> -->