<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/template1.css">
    <title>Template1</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href=""><b>BR</b>Architects</a>
        </div>
        <div class="nav">
            <a href="">Projects</a>
            <a href="">About</a>
            <a href="">Contact</a>
        </div>
    </div>
    <div class="cover-img">
        <div class="banner-name">
            <p><b>BR</b></p>
            <p>Architects</p>
        </div>
    </div>  
    <div class="heading">
        <p>Projects</p>
        <div class="hr-line"></div>  
    </div>
    <div class="project-img">
        <div class="img-box">
            <p class="img-heading">Summer House</p>
            <img src="https://www.w3schools.com/w3images/house5.jpg" alt="">
        </div>
        <div class="img-box">
            <p class="img-heading">Brick House</p>
            <img src="https://www.w3schools.com/w3images/house2.jpg" alt="">
        </div>
        <div class="img-box">
            <p class="img-heading">Renovated</p>
            <img src="https://www.w3schools.com/w3images/house3.jpg" alt="">
        </div>
        <div class="img-box">
            <p class="img-heading">Barn House</p>
            <img src="https://www.w3schools.com/w3images/house4.jpg" alt="">
        </div>
        <div class="img-box">
            <p class="img-heading">Summer House</p>
            <img src="https://www.w3schools.com/w3images/house2.jpg" alt="">
        </div>
        <div class="img-box">
            <p class="img-heading">Brick House</p>
            <img src="https://www.w3schools.com/w3images/house5.jpg" alt="">
        </div>
        <div class="img-box">
            <p class="img-heading">Renovated</p>
            <img src="https://www.w3schools.com/w3images/house4.jpg" alt="">
        </div>
        <div class="img-box">
            <p class="img-heading">Barn House</p>
            <img src="https://www.w3schools.com/w3images/house3.jpg" alt="">
        </div>
    </div>
    <div class="about-section">
        <div class="heading">
            <p>About</p>
            <div class="hr-line"></div>  
        </div>
        <div class="about-para">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
                deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                consequat.
            </p>
        </div>
        <div class="team-gallery">
            <div class="team-member">
                <div class="member-img">
                    <img src="https://www.w3schools.com/w3images/team2.jpg" alt="">
                </div>
                <div class="member-info">
                    <p>John Doe</p>
                    <p>CEO & Founder</p>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                    <p class="contact-button">
                        <a href="">Contact</a>
                    </p>
                </div>
            </div>
            <div class="team-member">
                <div class="member-img">
                    <img src="https://www.w3schools.com/w3images/team1.jpg" alt="">
                </div>
                <div class="member-info">
                    <p>Jane Doe</p>
                    <p>Architect</p>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                    <p class="contact-button">
                        <a href="">Contact</a>
                    </p>
                </div>
            </div>
            <div class="team-member">
                <div class="member-img">
                    <img src="https://www.w3schools.com/w3images/team3.jpg" alt="">
                </div>
                <div class="member-info">
                    <p>Mike Ross</p>
                    <p>Architect</p>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                    <p class="contact-button">
                        <a href="">Contact</a>
                    </p>
                </div>
            </div>
            <div class="team-member">
                <div class="member-img">
                    <img src="https://www.w3schools.com/w3images/team4.jpg" alt="">
                </div>
                <div class="member-info">
                    <p>Dan Star</p>
                    <p>Architect</p>
                    <p>
                        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                    </p>
                    <p class="contact-button">
                        <a href="">Contact</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-section">
        <div class="heading">
            <p>About</p>
            <div class="hr-line"></div>  
        </div>
        <div class="contact-form">
            <h4>Lets get in touch and talk about your next project.</h4>
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Subject">
            <input type="text" placeholder="Comment">
            <input type="Submit" value="SEND MESSAGE">
        </div>
    </div>
    <div class="last-image">
        <img src="https://www.w3schools.com/w3images/map.jpg" alt="">
    </div>
    <div class="copyright">
        <p>Powered by</p>&nbsp<a href="">w3.css</a>
    </div>
</body>
</html>