<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/template1.css">
    <title>Template1</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href=""><b>BR</b>Architects</a>
        </div>
        <div class="nav">
            <a href="">Projects</a>
            <a href="">About</a>
            <a href="">Contact</a>
        </div>
    </div>
    <div class="cover-img">
        <div class="banner-name">
            <p><b>BR</b></p>
            <p>Architects</p>
        </div>
    </div>  
    <div class="heading">
        <p>Projects</p>
        <div class="hr-line"></div>  
    </div>
    <div class="project-img">
        <div class="img-box">
            <p class="img-heading">Summer House</p>
            <img src="https://www.w3schools.com/w3images/house5.jpg" alt="">
        </div>
        <div class="img-box">
            <p class="img-heading">Brick House</p>
            <img src="https://www.w3schools.com/w3images/house2.jpg" alt="">
        </div>
        <div class="img-box">
            <p class="img-heading">Renovated</p>
            <img src="https://www.w3schools.com/w3images/house3.jpg" alt="">
        </div>
        <div class="img-box">
            <p class="img-heading">Barn House</p>
            <img src="https://www.w3schools.com/w3images/house4.jpg" alt="">
        </div>
        <div class="img-box">
            <p class="img-heading">Summer House</p>
            <img src="https://www.w3schools.com/w3images/house2.jpg" alt="">
        </div>
        <div class="img-box">
            <p class="img-heading">Brick House</p>
            <img src="https://www.w3schools.com/w3images/house5.jpg" alt="">
        </div>
        <div class="img-box">
            <p class="img-heading">Renovated</p>
            <img src="https://www.w3schools.com/w3images/house4.jpg" alt="">
        </div>
        <div class="img-box">
            <p class="img-heading">Barn House</p>
            <img src="https://www.w3schools.com/w3images/house3.jpg" alt="">
        </div>
    </div>
    <div class="heading">
        <p>About</p>
        <div class="hr-line"></div>  
    </div>
</body>
</html>