<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Css/template1.css">
    <title>Template1</title>
</head>
<body>
    <div class="header">
        <div class="header-nav">
            <div class="logo"><b>BR</b>Architects</div>
            <div class="menu">
                <ul>
                    <li>Project</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
        <div class="image-content">
            <div class="BR-box"><h1>BR</h1></div>
            <div class="Architects"><h2>Architects</h3></div>
        </div>
    </div>
</body>
</html>