<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../Css/template4.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header1">
            <div class="logo">
                <img src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/flipkart-plus_8d85f4.png" alt="logo">
            </div>
            <div class="searchbar"></div>
            <div class="loginbutton"></div>
            <a href="">Become a Seller</a>
        </div>
    </div>
</body>
</html>