<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../Css/template4.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Home</title>
</head>
<body>
<!-- Header Start -->
    <div class="header">
        <div class="logo">
            <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkheaderlogo_exploreplus-44005d.svg" alt="logo">
        </div>
        <div class="searchbar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" placeholder="Search for Products, Brands and More">
        </div>
        <div class="Signup_and_Cart">
            <div class="login">
                <i class="fa-solid fa-user"></i>
                <p>Login</p>
            </div>
            <div class="cart">
                <i class="fa-solid fa-cart-shopping"></i>
                <p>Cart</p>
            </div>
        </div>
        <div class="seller">
            <i class="fa-solid fa-shop"></i>
            <p>Become a Seller</p>
        </div>
        <div class="hamburger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
<!-- Header End -->

<!-- Main Container Start -->
    <div class="main-Container">
<!-- Navigation Section Start-->
        <div class="nav-Container">
            <ul>
                <li>
                    <a href="">
                        <div class="nav-card">
                            <div class="n-card-img">
                                <img src="https://rukminim1.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="">
                            </div>
                            <div class="n-card-detail">
                                <p>Grocery<p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="nav-card">
                            <div class="n-card-img">
                                <img src="https://rukminim1.flixcart.com/flap/64/64/image/22fddf3c7da4c4f4.png?q=100" alt="">
                            </div>
                            <div class="n-card-detail">
                                <p>Mobiles</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <div class="nav-card">
                        <div class="n-card-img">
                            <img src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/0d75b34f7d8fbcb3.png?q=100" alt="">
                        </div>
                        <div class="n-card-detail">
                            <p>Fashion</p>
                        </div>
                        <!-- <div class="nav-list-Container"></div> -->
                    </div>
                </li>
                <li>
                    <a href="">
                        <div class="nav-card">
                            <div class="n-card-img">
                                <img src="https://rukminim1.flixcart.com/flap/64/64/image/69c6589653afdb9a.png?q=100" alt="">
                            </div>
                            <div class="n-card-detail">
                                <p>Electronics</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="nav-card">
                            <div class="n-card-img">
                                <img src="https://rukminim1.flixcart.com/flap/64/64/image/ab7e2b022a4587dd.jpg?q=100" alt="">
                            </div>
                            <div class="n-card-detail">
                                <p>Home & Furniture</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="nav-card">
                            <div class="n-card-img">
                                <img src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/0139228b2f7eb413.jpg?q=100" alt="">
                            </div>
                            <div class="n-card-detail">
                                <p>Appliances</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="nav-card">
                            <div class="n-card-img">
                                <img src="https://rukminim1.flixcart.com/flap/64/64/image/71050627a56b4693.png?q=100" alt="">
                            </div>
                            <div class="n-card-detail">
                                <p>Travel</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="nav-card">
                            <div class="n-card-img">
                                <img src="https://rukminim1.flixcart.com/flap/64/64/image/dff3f7adcf3a90c6.png?q=100" alt="">
                            </div>
                            <div class="n-card-detail">
                                <p>Beauty, Toys & More</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="nav-card">
                            <div class="n-card-img">
                                <img src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/05d708653beff580.png?q=100" alt="">
                            </div>
                            <div class="n-card-detail">
                                <p>Two Wheelers</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
<!-- Navigation Section End -->


<!-- Image Slider Section Start -->
        <div class="slider-Container">
            <div class="img-slider">
                <figure>
                <img src="https://rukminim1.flixcart.com/fk-p-flap/1600/270/image/ece413e0bec6e507.jpg?q=20" alt="slidimg">
                <img src="https://rukminim1.flixcart.com/fk-p-flap/1600/270/image/45dda81f5345d49e.jpg?q=20" alt="slidimg">
                <img src="https://rukminim1.flixcart.com/fk-p-flap/1600/270/image/c5a6c9d111772ef7.jpg?q=20" alt="slidimg">
                <img src="https://rukminim1.flixcart.com/fk-p-flap/1600/270/image/34aa7d4cbf9586cc.jpg?q=20" alt="slidimg">
                </figure>
                <button id="right-button"><i class="fa-solid fa-angle-right"></i></button>
                <button id="left-button"><i class="fa-solid fa-angle-left"></i></button>
            </div>
        </div>
<!-- Image Slider Section End -->
<!-- offer Sectioin Start -->
        <div class="offer-container">
            <div class="img-box">
                <img src="https://rukminim1.flixcart.com/fk-p-flap/520/280/image/ec6cf773ae886bd7.jpg?q=20" alt="">
            </div>
            <div class="img-box">
                <img src="https://rukminim1.flixcart.com/fk-p-flap/520/280/image/22e305bf45e2e1a2.jpeg?q=20" alt="">
            </div>
            <div class="img-box">
                <img src="https://rukminim1.flixcart.com/fk-p-flap/520/280/image/c3146ff3077e7744.jpg?q=20" alt="">
            </div>
        </div>
<!-- offer Sectioin End -->
    </div>
<!-- Main Container End -->
</body>
</html>