<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../Css/template4.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Home</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkheaderlogo_exploreplus-44005d.svg" alt="logo">
        </div>
        <div class="searchbar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" placeholder="Search for Products, Brands and More">
        </div>
        <div class="Signup_and_Cart">
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <div class="seller">
            <i class="fa-solid fa-shop"></i>
        </div>
        <div class="hamburger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <div class="main-Container">
        <div class="nav-Container">
            <div class="nav">
                <img src="https://rukminim1.flixcart.com/flap/64/64/image/29327f40e9c4d26b.png?q=100" alt="">
                <h4>Grocery</h4>
            </div>
            <div class="nav">
                <img src="https://rukminim1.flixcart.com/flap/64/64/image/22fddf3c7da4c4f4.png?q=100" alt="">
                <h4>Grocery</h4>
            </div>
            <div class="nav">
                <img src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/0d75b34f7d8fbcb3.png?q=100" alt="">
                <h4>Grocery</h4>
            </div>
            <div class="nav">
                <img src="https://rukminim1.flixcart.com/flap/64/64/image/69c6589653afdb9a.png?q=100" alt="">
                <h4>Grocery</h4>
            </div>
            <div class="nav">
                <img src="https://rukminim1.flixcart.com/flap/64/64/image/ab7e2b022a4587dd.jpg?q=100" alt="">
                <h4>Grocery</h4>
            </div>
            <div class="nav">
                <img src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/0139228b2f7eb413.jpg?q=100" alt="">
                <h4>Grocery</h4>
            </div>
            <div class="nav">
                <img src="https://rukminim1.flixcart.com/flap/64/64/image/71050627a56b4693.png?q=100" alt="">
                <h4>Grocery</h4>
            </div>
            <div class="nav">
                <img src="https://rukminim1.flixcart.com/flap/64/64/image/dff3f7adcf3a90c6.png?q=100" alt="">
                <h4>Grocery</h4>
            </div>
            <div class="nav">
                <img src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/05d708653beff580.png?q=100" alt="">
                <h4>Grocery</h4>
            </div>
        </div>
        <div class="img-slider">
            <img src="https://rukminim1.flixcart.com/fk-p-flap/1600/270/image/88ccf324edaec8be.jpg?q=20" alt="">
        </div>
        <div class="img-offer"></div>
        <div class="top-deals"></div>

    </div>
</body>
</html>