.header{
    width: 100%;
    height: 80px;
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    /* border: 2px solid green; */
    width: 100%;
    height: 70%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.logo{
    /* border: 2px solid red; */
    color: white;
}
.ssnav{
    display: none;
}

.bsnav{
    /* border: 2px solid red; */
    width: 40%;
    height: auto;
}
.bsnav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bsnav ul li{
    list-style: none;
    padding: 15px;
}
.bsnav ul li a{
    /* font-size:large; */
    color: white;
    text-decoration: none;
}