.ContentContainer{
    /* border: 2px solipd red; */
    width: 100%;
    height: 100vh;
    background-color: Yellow;
    margin-top: 0.20%;
    display: flex;
    justify-content: space-around;
    align-items: center ;
}       